body {
  background-color: gray;
  height: 3000px;
}
.grey {
  background-color: lightgray;
  height: 2000px;
  margin-top: 500px;
  .text {
    width: 300px;
  }
}

.imgdiv {
  width: 400px;
  position: sticky;
  top: 100px;
  img {
    width: 100%;
  }
}
