*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: inherit;
}

@-webkit-keyframes searchsize {
  0% {
    width: 80px;
  }
  100% {
    width: 300px;
  }
}

@keyframes searchsize {
  0% {
    width: 80px;
  }
  100% {
    width: 300px;
  }
}
.sidebar {
  position: fixed;
  background-color: #494cb4;
  width: 40px;
  height: 100%;
}
.sidebar .sidebar-item {
  display: flex;
  margin: 20px 10px;
  color: white;
  font-size: 15px;
}
.sidebar .sidebar-item i {
  margin-right: 17px;
}
.sidebar .sidebar-item p {
  transform: translateX(-100px);
}

.sidebar:hover {
  width: 120px;
  transition: all 0.2s;
}
.sidebar:hover p {
  transform: translateX(0px);
  transition-delay: 0.5s;
  transition: all 0.5s;
}

header {
  padding: 5px;
  margin-left: 40px;
  border: 1px solid darkgrey;
}
header .tab-menubars {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
header .fa-bars {
  width: 60px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 5px;
  font-size: 20px;
}
header .tab-search form {
  display: flex;
  align-items: center;
}
header .tab-search form input {
  height: 35px;
  border: rgba(0, 0, 0, 0.6) solid 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
header .tab-search form input:focus {
  -webkit-animation: searchsize forwards 1s;
          animation: searchsize forwards 1s;
}
header .tab-search form i {
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
header .tab-icons {
  justify-content: space-between;
}
header .tab-icons i {
  cursor: pointer;
}
header .tab-username {
  justify-content: flex-end;
}
header .tab-search,
header .tab-icons,
header .tab-username {
  height: 40px;
  padding: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  header .tab-menubars {
    display: none;
  }
  header .tab-search,
header .tab-icons,
header .tab-username {
    display: flex;
  }
}

div {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-2 {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-3 {
    width: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-5 {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-7 {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-8 {
    width: 66.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-9 {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-10 {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-11 {
    width: 91.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-2 {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-3 {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-5 {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-6 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-7 {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-8 {
    width: 66.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-9 {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-10 {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-11 {
    width: 91.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-2 {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-3 {
    width: 25%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-5 {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-6 {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-7 {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-8 {
    width: 66.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-9 {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-10 {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-11 {
    width: 91.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-12 {
    width: 100%;
  }
}

.row .col {
  width: 100%;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.3333333333%;
}
.row .col-8 {
  width: 66.6666666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.3333333333%;
}
.row .col-11 {
  width: 91.6666666667%;
}
.row .col-12 {
  width: 100%;
}

.row .h-1 {
  height: 10vh;
}
.row .h-2 {
  height: 20vh;
}
.row .h-3 {
  height: 30vh;
}
.row .h-4 {
  height: 40vh;
}
.row .h-5 {
  height: 50vh;
}
.row .h-6 {
  height: 60vh;
}/*# sourceMappingURL=style.css.map */