@charset "UTF-8";
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: inherit;
}

.grid-container {
  max-width: 500px;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: "헤더 헤더 헤더 헤더" "사이드 메인 메인 메인" "사이드 메인 메인 메인" "사이드 메인 메인 메인";
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "헤더" "사이드" "메인";
  }
}
.grid-container div {
  border: 1px solid black;
}
.grid-container .grid-nav {
  grid-area: 헤더;
}
.grid-container .grid-sidebar {
  grid-area: 사이드;
}
.grid-container .grid-content {
  grid-area: 메인;
}

.grid-container2 {
  max-width: 500px;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: "큰거 큰거 ." "큰거 큰거 ." ". . .";
}
.grid-container2 div img {
  width: 100%;
  height: 100%;
}
.grid-container2 div:nth-child(1) {
  grid-area: 큰거;
}
@media screen and (max-width: 768px) {
  .grid-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "큰거" "." ".";
  }
}

div {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-2 {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-3 {
    width: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-5 {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-7 {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-8 {
    width: 66.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-9 {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-10 {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-11 {
    width: 91.6666666667%;
  }
}
@media screen and (max-width: 1200px) {
  .row .col-lg-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-2 {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-3 {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-5 {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-6 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-7 {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-8 {
    width: 66.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-9 {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-10 {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-11 {
    width: 91.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .row .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-2 {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-3 {
    width: 25%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-5 {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-6 {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-7 {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-8 {
    width: 66.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-9 {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-10 {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-11 {
    width: 91.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  .row .col-sm-12 {
    width: 100%;
  }
}

.row .col {
  width: 100%;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.3333333333%;
}
.row .col-8 {
  width: 66.6666666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.3333333333%;
}
.row .col-11 {
  width: 91.6666666667%;
}
.row .col-12 {
  width: 100%;
}

.row .h-1 {
  height: 10vh;
}
.row .h-2 {
  height: 20vh;
}
.row .h-3 {
  height: 30vh;
}
.row .h-4 {
  height: 40vh;
}
.row .h-5 {
  height: 50vh;
}
.row .h-6 {
  height: 60vh;
}/*# sourceMappingURL=style.css.map */